.body-bg {
  background-color: #151516;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.selectedFilm {
  border: 2px solid transparent;
  opacity: 0.8;
  transition:
    opacity 300ms ease-in-out,
    border-color 300ms ease-out,
    transform 300ms ease-out;
}

.selectedFilm:hover {
  opacity: 1;
  border-color: #e50914;
  transform: translate(1px, 0px) scale(1.05);
}
